<h2>Edit <%= @recipe.name %></h2>

<div class = "row">
  <div class = "col-xs-6">
    <%= form_tag recipe_path(@recipe.id), method: :patch, class: "form" do %>
      <div class = "form-group">
        <%= label_tag "recipe_form[name]", "Name" %>
        <%= text_field_tag "recipe_form[name]", @recipe.name, class: "form-control" %>
      </div> <!-- form-group -->
      <div class = "form-group">
        <%= label_tag "recipe_form[directions]", "Directions" %>
        <%= text_area_tag "recipe_form[directions]", @recipe.directions, class: "form-control" %>
      </div> <!-- form-group -->

      <h3>Ingredients:</h3>
      <div class = "current-ingredients">
        <% @recipe_ingredients.each do |ri| %>
          <% if ri.ingredient %>
            <div class = "form-group">
              <span class = "ing-name"><%= label_tag "ingredient_#{ri.ingredient_id}", ri.ingredient.name.titleize %></span>
              <span class = "delete-box"><%= label_tag "ingredient_#{ri.ingredient_id}", "Delete?" %></span>
              <%= check_box_tag "recipe_form[existing_ingredients][ingredient_#{ri.ingredient_id}][delete]", "yes"  %>
            </div> <!-- form-group -->
            <div class = "form-inline">
              <div class = "form-group">
                <%= label_tag "recipe_form[existing_ingredients][ingredient_#{ri.ingredient_id}][measurement]", "Measurement" %>
                <%= text_field_tag "recipe_form[existing_ingredients][ingredient_#{ri.ingredient_id}][measurement]", ri.measurement, class: "form-control", size: 1 %>
              </div> <!-- form-group -->
              <div class = "form-group">
                <%= label_tag "recipe_form[existing_ingredients][ingredient_#{ri.ingredient_id}][unit]", "Unit" %>
                <%= text_field_tag "recipe_form[existing_ingredients][ingredient_#{ri.ingredient_id}][unit]", ri.unit, class: "form-control" %>
              </div> <!-- form-group -->
            </div> <!-- form-inline -->
          <% end %>
        <% end %>
      </div> <!-- current-ingredients -->

    <div class = "add-existing-ingredients">
      <h3>Choose other ingredients:</h3>
      <% @ingredients.each do |ingredient| %>
        <div class = "form-group">
          <%= check_box_tag "recipe_form[other_ingredients][ingredient_#{ingredient.id}][i_id]", ingredient.id, false, id: "ingredient_#{ingredient.id}", class: "checkbox" %>
          <span class = "ing-name"><%= label_tag "ingredient_ingredient_#{ingredient.id}", ingredient.name.titleize %></span>
        </div> <!-- form-group -->
        <div class = "form-inline">
          <div class = "form-group">
            <%= label_tag "recipe_form[other_ingredients][ingredient_#{ingredient.id}][measurement]", "Measurement" %>
            <%= text_field_tag "recipe_form[other_ingredients][ingredient_#{ingredient.id}][measurement]", nil, class: "form-control", size: 1 %>
          </div> <!-- form-group -->
          <div class = "form-group">
            <%= label_tag "recipe_form[other_ingredients][ingredient_#{ingredient.id}][unit]", "Unit" %>
            <%= text_field_tag "recipe_form[other_ingredients][ingredient_#{ingredient.id}][unit]", nil, class: "form-control" %>
          </div> <!-- form-group -->
        </div> <!-- form-inline -->
      <% end %>
    </div> <!-- add-existing-ingredients -->
  </div> <!-- col-xs-6 -->

  <div class = "col-xs-6">
    <div class = "new-ingredients">
      <h3>Add New Ingredients:</h3>
      <% 5.times do |n| %>
        <div class = "form-inline">
          <div class = "form-group">
            <%= label_tag "recipe_form[new_ingredients][#{n}][name]", "Ingredient Name", class: "ing-name" %>
            <span class = "ing-name"><%= text_field_tag "recipe_form[new_ingredients][#{n}][name]", nil, class: "form-control" %></span>
          </div> <!-- form-group -->
        </div> <!-- form-inline -->
        <div class = "form-inline">
          <div class = "form-group">
            <%= label_tag "recipe_form[new_ingredients][#{n}][measurement]", "Measurement" %>
            <%= text_field_tag "recipe_form[new_ingredients][#{n}][measurement]", nil, class: "form-control", size: 1 %>
          </div> <!-- form-group -->
          <div class = "form-group">
            <%= label_tag "recipe_form[new_ingredients][#{n}][unit]", "Unit" %>
            <%= text_field_tag "recipe_form[new_ingredients][#{n}][unit]", nil, class: "form-control" %>
          </div> <!-- form-group -->
        </div> <!-- form-inline -->
      <% end %>

      <%= submit_tag "Update Recipe", class: "btn btn-primary update-button" %>
    </div> <!-- new-ingredients -->
    <% end %>
  </div> <!-- col-xs-6 -->
</div> <!-- row -->
