<h2><%= @recipe.name %></h2>

<h3>Ingredients:</h3>
<ul>
  <% @recipe_ingredients.each do |recipe_ingredient| %>

    <li><%= recipe_ingredient.measurement %> <%= recipe_ingredient.unit %> <strong><%= recipe_ingredient.ingredient.name %></strong> </li>
  <% end %>
</ul>
<p><%= @recipe.directions %></p>
